<div class="btn-toolbar justify-content-md-end" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group btn-group-sm" role="group">
    <button *ngFor="let depthValue of depthValues" type="button" class="btn btn-light"
      (click)="depth=depthValue;scroll(pedigree)">{{depthValue+1}}</button>
    <div class="input-group-text small">Générations</div>
  </div>
</div>
<div #pedigree></div>
<app-tree class="pedigree" [data]="data|async" [depth]="depth" [height]="getHeightValues(depth)"></app-tree>
