<nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light">
    <ul class="nav navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'.'">
                <i class="far fa-question-circle mr-1"></i>
                <span i18n="about link|The about link">About</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'.'">
                <i class="fas fa-envelope mr-1"></i>
                <span i18n="contact link|The contact link">Contact</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/alexandre-melard/beaucerons-angular">
                <i class="fab fa-github mr-1"></i>
                <span i18n="github link|The github link">Github</span>
            </a>
        </li>
    </ul>
</nav>
