<h2 mat-dialog-title><span i18n="confirm dog data title|confirm dog data title">Confirm {{dog.name}}</span></h2>
<mat-dialog-content class="mat-typography">
  <p><span i18n="confirm dog data|confirm dog data is correct">I confirm that the data for {{dog.name}} are correct.</span></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-secondary" mat-button mat-dialog-close><span i18n="cancel">Cancel</span></button>
  &nbsp;
  <button class="btn btn-success" mat-button [mat-dialog-close]="true" cdkFocusInitial><span i18n="confirm">Confirm</span></button>
</mat-dialog-actions>
