<div *ngIf="dogs$ | async as dogs">
  <app-dog-details *ngIf="getDog(dogs) as dog" [dog]="dog"></app-dog-details>
  <hr>
  <div class="row">
    <div class="col">
      <app-dog-details *ngIf="getSir(dogs) as father" [dog]="father"></app-dog-details>
    </div>
    <div class="col">
      <app-dog-details *ngIf="getDam(dogs) as mother" [dog]="mother"></app-dog-details>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <app-dog-details *ngIf="getSir(dogs) as father" [dog]="father"></app-dog-details>
    </div>
    <div class="col">
      <app-dog-details *ngIf="getDam(dogs) as mother" [dog]="mother"></app-dog-details>
    </div>
  </div>
</div>
