input {
  min-width: 300px!important;
 }

 span.type {
  font-size: x-small;
  font-style: italic;
  display: block;
  padding: 0;
  margin: 0;
  line-height: 0;
  height: 10px;
  position: absolute;
  right: 5px;
  bottom: 0;
}

/* .male
{
  background-color: lightsteelblue;
}
.female
{
  background-color: lightpink;
}

.breeder {
  background-color: lightgreen;
}

.owner {
  background-color: palegoldenrod;
} */
