<h2>
  <i *ngIf="dog.verified" class="far fa-check-circle" matTooltip="The data has been verified"
    matTooltipPosition="below"></i>
  <i *ngIf="!dog.verified" class="far fa-question-circle"
    matTooltip="The data has not been verified, please help us confirm or correct the data."
    matTooltipPosition="below"></i>
  {{ dog.name }}
</h2>
<table class="table">
  <tbody>
    <tr *ngIf="dog.type">
      <th>Sex</th>
      <td>{{ (dog.type == "Male")?"Male":"Female"}}</td>
    </tr>
    <tr *ngIf="dog.tattoo">
      <th>Tattoo</th>
      <td>{{dog.tattoo}}</td>
    </tr>
    <tr *ngIf="dog.ship">
      <th>Ship</th>
      <td>{{dog.ship}}</td>
    </tr>
    <tr *ngIf="dog.cotation">
      <th>Cotation</th>
      <td>{{dog.cotation}}</td>
    </tr>
    <tr *ngIf="dog.dob">
      <th>Date of birth</th>
      <td>{{dog.dob}}</td>
    </tr>
    <tr *ngIf="dog.owner">
      <th>Owner</th>
      <td><a class="btn btn-sm btn-outline-primary" [routerLink]="[ '/owners/', dog.owner.uuid ]">{{dog.owner.name}}</a></td>
    </tr>
    <tr *ngIf="dog.breeder">
      <th>Breeder</th>
      <td><a class="btn btn-sm btn-outline-primary" [routerLink]="[ '/breeders/', dog.breeder.uuid ]">{{dog.breeder.name}}</a></td>
    </tr>
  </tbody>
</table>
<app-dog-details-confirm [dog]="dog"></app-dog-details-confirm>
&nbsp;
<button class="btn btn-outline-success">
  Claim Ownership
</button>
&nbsp;
<button class="btn btn-outline-warning">
  Report an error
</button>
